#input{
    display: inline-block;
    height: 24px;
    margin-bottom: 6px;
  }
  #myTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
  }
  #myTable th{
    background-color:rgb(228, 228, 228)
  }
  #myTable th,
  #myTable td {
    text-align: left;
    padding: 12px;
  }
  #myTable tr {
    border-bottom: 1px solid #ddd;
  }
  #myTable tr.header,
  #myTable tr:hover {
    /* 表头及鼠标移动过 tr 时添加背景 */
    background-color: #f1f1f1;
  }